* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

canvas {
	display: block;
	/* width: 100%; */
}

.progress {
	width: 80%;
	margin: 0 auto;
	height: 3vh;
}

.logo {
	display: none;
	text-align: center;
	/*让div内部文字居中*/
	background-color: #fff;
	width: 75%;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
	bottom: 0;
}

.win {
	display: none;
	margin: 0 auto;
}

#logo2, #logo3 {
	/* border: 1px solid red; */
}

.loading {
	margin-top: 40vh;
	transition: display 2s;
}

.loading h4 {
	text-align: center;
}

.menu,
.help,
.win {
	text-align: center;
	margin-top: 2%;
}

.menu {
	display: none;
}

.menu h1 {
	font-size: 70px;
}

.menu h2 {
	margin-top: 3%;
}

.menu p {
	font-size: 22px;
	margin-top: 2%;
}

.help {
	display: none;
}

.game {
	display: none;
	/* 	margin-top: 3%; */
	margin: 5px;
	padding: 5px;
	/* border: 1px solid red; */
}

.game-inner {
	margin: 0 auto;
	float: left;
	/* border: 1px solid green; */
}

.game-stat {
	font-size: 30px;
	margin: 0;
	float: left;
	position: relative;
	width: 100%;
}

@media screen and (max-width: 1080px) {
	#logo1 {
		margin-top: 21vh;
	}
  #logo2, #logo3 {
  	margin-top: 21vh;
		/* border: 1px solid black; */
  }
}
